
subsets/taxslim.json
.DS_Store
aws/
awscliv2.zip
build/
current_ncbitaxon.obo
ncbi_diff_latest_current_obo.txt
ncbitaxon.json
ncbitaxon.json.gz
ncbitaxon.obo
ncbitaxon.obo.gz
ncbitaxon.owl
ncbitaxon.owl.gz
ncbitaxon.ttl
subsets/taxslim-disjoint-over-in-taxon.owl
subsets/taxslim.owl
subsets/current_taxslim-disjoint.owl
